@media (min-width: 320px) and (max-width: 800px) {
  .ourSkills__items-element {
    width: 230px;
  }

  .ourPortfolio__items {
    margin: 10px 0 0 0;
    padding: 0;
  }
  .ourPortfolio__items .ourPortfolio__items-container {
    margin: 20px;
    width: 100%;
  }
  .ourPortfolio__items .ourPortfolio__items-container .ourPortfolio__items-img img {
    width: 100%;
    max-width: 600px;
  }

  .connection__form input {
    width: 45%;
  }
}
@media (min-width: 801px) and (max-width: 1150px) {
  header .container {
    height: 500px;
    padding: 30px;
  }
  header .container .header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .before800px {
    display: none;
  }

  .container-menu {
    display: flex;
    width: 90%;
    justify-content: space-between;
  }
  .container-menu .logo {
    margin: 0;
    width: 300px;
    height: 100%;
  }
  .container-menu .logo img {
    height: 50px;
  }
  .container-menu .nav-menu800 {
    margin: 15px 0 0 0;
    display: flex;
    max-width: 550px;
    width: 100%;
    height: 50px;
  }
  .container-menu .nav-menu800 .nav-list {
    flex: 0 1 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container-menu .nav-menu800 .nav-list .nav-link a {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    height: 40px;
    width: 90px;
    transition: background-color 0.4s linear;
  }
  .container-menu .nav-menu800 .nav-list .nav-link a:hover {
    background-color: #643A79;
  }

  .header__textGreeting {
    margin: -20px auto 0;
  }
  .header__textGreeting p {
    color: #f7f3ea;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.5em;
    text-align: center;
  }

  .header__button a {
    margin: 0 0 8%;
    font-size: 18px;
    line-height: 26.19px;
    height: 70px;
    width: 300px;
    transition: background-color 0.25s linear;
  }

  .header__button a:hover {
    background-color: #c86a40;
  }

  main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  main .title h2 {
    font-size: 36px;
  }
  main .subtitle {
    font-size: 20px;
  }

  .ourServices {
    height: 1050px;
    padding: 30px 0 0 0;
  }

  .ourServices__itemsContainer {
    width: 95%;
    padding: 25px;
    height: 800px;
    margin: 0;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }
  .ourServices__itemsContainer .ourServices__items {
    display: flex;
    width: 40%;
    height: 320px;
    margin: 0;
    padding: 5%;
  }
  .ourServices__itemsContainer .ourServices__items .ourServices__items-pic {
    flex: 0 0 auto;
  }
  .ourServices__itemsContainer .ourServices__items .ourServices__items-pic img {
    width: 80%;
  }
  .ourServices__itemsContainer .ourServices__items .ourServices__items-title {
    font-size: 24px;
  }
  .ourServices__itemsContainer .ourServices__items .ourServices__items-subtitle {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  .ourTeam__items {
    width: 100%;
    padding: 25px;
    height: 800px;
    margin: 0;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }
  .ourTeam__items .ourTeam__worker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42%;
    padding: 20px;
    height: 48%;
    margin: 0 15px;
  }
  .ourTeam__items .ourTeam__worker .ourTeam__worker-photo {
    height: 75px;
    width: 75px;
  }
  .ourTeam__items .ourTeam__worker .ourTeam__worker-photo img {
    width: 75px;
    border-radius: 50%;
  }

  .ourSkills .ourSkills__subtitle {
    width: 700px;
  }
  .ourSkills .ourSkills__items {
    width: 89%;
    padding: auto;
    margin: 30px 0 0;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }
  .ourSkills .ourSkills__items .ourSkills__items-element {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 30px;
    width: 250px;
  }

  .ourPortfolio .ourPortfolio__subtitle {
    width: 700px;
  }
  .ourPortfolio .ourPortfolio__nav {
    margin: 30px 0 0 0;
    width: 550px;
    display: flex;
    justify-content: space-between;
  }
  .ourPortfolio .ourPortfolio__nav .ourPortfolio__nav-items a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3C4761;
    background: rgba(0, 0, 0, 0.08);
    width: 110px;
    height: 60px;
    font-size: 1.5em;
    line-height: 19px;
    letter-spacing: 0.36px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.4s linear;
  }
  .ourPortfolio .ourPortfolio__nav .ourPortfolio__nav-items a:hover {
    background-color: #fff;
  }
  .ourPortfolio .ourPortfolio__items {
    margin: 30px 0 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ourPortfolio .ourPortfolio__items .ourPortfolio__items-container {
    margin: 40px 0;
    width: 100%;
  }
  .ourPortfolio .ourPortfolio__items .ourPortfolio__items-container .ourPortfolio__items-img img {
    width: 100%;
    max-width: 600px;
  }
  .ourPortfolio .ourPortfolio__items .ourPortfolio__items-container .ourPortfolio__items-name {
    margin: 20px 0 0 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
  }
  .ourPortfolio .ourPortfolio__more-btn {
    font-size: 18px;
    line-height: 26.19px;
    height: 70px;
    width: 300px;
    transition: background-color 0.25s linear;
  }

  .connection__form input {
    width: 45%;
    height: 60px;
  }
  .connection__form textarea {
    margin: 20px 0;
    height: 60px;
  }
  .connection__form .submit {
    font-size: 18px;
    line-height: 26.19px;
    height: 70px;
    width: 300px;
    transition: background-color 0.25s linear;
  }

  footer .footer-icons {
    display: none;
  }
  footer .footer__container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .footer__container .footer__social a {
    text-align: center;
    color: #fff;
    letter-spacing: 0.48px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    transition: color 0.25s linear;
  }
  footer .footer__container .footer__social a:hover {
    color: #30BAE7;
  }
}
@media (min-width: 1151px) {
  header .container {
    height: 600px;
    padding: 45px 30px;
  }
  header .container .header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .before800px {
    display: none;
  }

  .container-menu {
    display: flex;
    width: 90%;
    min-width: 1050px;
    justify-content: space-between;
  }
  .container-menu .logo {
    margin: 0;
    width: 300px;
    height: 100%;
  }
  .container-menu .logo img {
    height: 50px;
  }
  .container-menu .nav-menu800 {
    margin: 15px 0 0 0;
    display: flex;
    max-width: 60%;
    height: 50px;
  }
  .container-menu .nav-menu800 .nav-list {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container-menu .nav-menu800 .nav-list .nav-link a {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    height: 40px;
    min-width: 110px;
    transition: background-color 0.4s linear;
    margin-left: 15px;
  }
  .container-menu .nav-menu800 .nav-list .nav-link a:hover {
    background-color: #643A79;
  }

  .header__textGreeting {
    margin: -20px auto 0;
    min-width: 1000px;
  }
  .header__textGreeting p {
    color: #f7f3ea;
    font-size: 2.8em;
    font-weight: 700;
    line-height: 1.5em;
    text-align: center;
  }

  .header__button a {
    margin: 0 0 8%;
    font-size: 18px;
    line-height: 26.19px;
    height: 70px;
    width: 300px;
    transition: background-color 0.25s linear;
  }

  .header__button a:hover {
    background-color: #c86a40;
  }

  main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  main .title h2 {
    font-size: 40px;
    line-height: 30px;
  }
  main .subtitle {
    font-size: 20px;
  }

  .ourServices {
    flex: 0 0 750px;
    padding: 60px;
  }
  .ourServices .ourServices__title {
    margin-top: 65px;
  }

  .ourServices__itemsContainer {
    min-width: 1050px;
    width: 85%;
    padding: 0;
    height: 100%;
    margin: 70px 0 0 0;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
  }
  .ourServices__itemsContainer .ourServices__items {
    background-color: rgba(0, 0, 0, 0);
    flex: 0 1 25%;
    display: flex;
    min-width: 230px;
    min-height: 300px;
    height: 100%;
    margin: 0 20px;
    padding: 0 30px 10px;
  }
  .ourServices__itemsContainer .ourServices__items .ourServices__items-pic {
    flex: 0 0 50%;
  }
  .ourServices__itemsContainer .ourServices__items .ourServices__items-pic img {
    width: 200px;
  }
  .ourServices__itemsContainer .ourServices__items .ourServices__items-title {
    flex: 0 0 15%;
    font-size: 24px;
    line-height: 24px;
  }
  .ourServices__itemsContainer .ourServices__items .ourServices__items-subtitle {
    flex: 0 0 35%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  .ourTeam__items {
    height: 100%;
    width: 80%;
    min-width: 1000px;
    padding: 0;
    margin-top: 50px;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
  }
  .ourTeam__items .ourTeam__worker {
    background-color: rgba(0, 0, 0, 0);
    flex: 0 0 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    min-height: 500px;
    height: 100%;
    margin: 0 15px;
  }
  .ourTeam__items .ourTeam__worker .ourTeam__worker-photo {
    height: 200px;
    width: 200px;
  }
  .ourTeam__items .ourTeam__worker .ourTeam__worker-photo img {
    width: 200px;
    border-radius: 50%;
  }

  .ourSkills .ourSkills__subtitle {
    width: 700px;
  }
  .ourSkills .ourSkills__items {
    width: 100%;
    min-width: 1050px;
    padding: 0;
    margin-top: 75px;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
  }
  .ourSkills .ourSkills__items .ourSkills__items-element {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 220px;
    height: 220px;
  }

  .ourPortfolio .ourPortfolio__subtitle {
    width: 700px;
  }
  .ourPortfolio .ourPortfolio__nav {
    margin: 30px 0 0 0;
    width: 550px;
    display: flex;
    justify-content: space-between;
  }
  .ourPortfolio .ourPortfolio__nav .ourPortfolio__nav-items a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3C4761;
    background: rgba(0, 0, 0, 0.08);
    width: 110px;
    height: 60px;
    font-size: 1.5em;
    line-height: 19px;
    letter-spacing: 0.36px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.4s linear;
  }
  .ourPortfolio .ourPortfolio__nav .ourPortfolio__nav-items a:hover {
    background-color: #fff;
  }
  .ourPortfolio .ourPortfolio__items {
    margin: 60px 0px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-betweeen;
    width: 1100px;
    min-height: 780px;
    height: 100%;
  }
  .ourPortfolio .ourPortfolio__items .ourPortfolio__items-container {
    margin: 0;
    width: 540px;
    height: 340px;
  }
  .ourPortfolio .ourPortfolio__items .ourPortfolio__items-container .ourPortfolio__items-img img {
    width: 100%;
  }
  .ourPortfolio .ourPortfolio__items .ourPortfolio__items-container .ourPortfolio__items-name {
    margin: 0;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.36px;
  }
  .ourPortfolio .ourPortfolio__more-btn {
    font-size: 18px;
    line-height: 26.19px;
    height: 70px;
    width: 300px;
    transition: background-color 0.25s linear;
    margin: 0;
  }

  .reviews {
    height: 900px;
    padding: 0;
    background-color: #D74680;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .reviews hr {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .reviews__items {
    margin-top: 70px;
    width: 1100px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .reviews__items .reviews__items-container {
    border-radius: 0;
    padding: 0;
    max-width: 500px;
    width: 100%;
    height: 185px;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
  }
  .reviews__items .reviews__items-container .reviews__items-photo {
    position: static;
    width: 100px;
    height: 100px;
    margin: 0;
    background-color: #808080;
    border-radius: 50%;
  }
  .reviews__items .reviews__items-container .reviews__items-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .reviews__items .reviews__items-container .reviews__items-rew {
    width: 72%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .reviews__items .reviews__items-container .reviews__items-rew .reviews__items-text {
    flex: 0 1 75%;
  }
  .reviews__items .reviews__items-container .reviews__items-rew .reviews__items-text p {
    text-align: left;
    font-style: italic;
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0.35px;
  }
  .reviews__items .reviews__items-container .reviews__items-rew .reviews__items-username {
    margin: 5px 0;
    width: 100%;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
  }
  .reviews__items .reviews__items-container .reviews__items-rew .reviews__items-userPos {
    color: #fd9;
    width: 100%;
    letter-spacing: 0.36px;
    font-size: 18px;
    line-height: 26px;
  }

  .conection .connection__form input {
    overflow: scroll;
    padding: 0 10px;
    width: 48%;
    height: 60px;
    background-color: #273A71;
    color: #fff;
    font-size: 24px;
    letter-spacing: 0.32px;
    line-height: 24px;
    border-radius: 5px;
  }
  .conection .connection__form textarea {
    margin: 25px 0 0 0;
    padding: 10px;
    width: 100%;
    height: 200px;
    background-color: #273A71;
    color: #fff;
    font-size: 24px;
    letter-spacing: 0.32px;
    line-height: 28px;
    border-radius: 5px;
  }
  .conection .connection__form .submit {
    margin-top: 50px;
    font-size: 18px;
    line-height: 26.19px;
    height: 70px;
    width: 300px;
    transition: background-color 0.25s linear;
  }

  footer {
    width: 100%;
  }
  footer .footer-icons {
    display: none;
  }
  footer .footer__container {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
  }
  footer .footer__container .footer__social a {
    text-align: center;
    color: #fff;
    letter-spacing: 0.48px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    transition: color 0.25s linear;
  }
  footer .footer__container .footer__social a:hover {
    color: #30BAE7;
  }
}