@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
	font-family: "Titillium Web";
	overflow-x: hidden;
}

header {

	.container {
		display: flex;
		justify-content: center;
		width: 100vw;
		background-color: #87509c;

		.header-container {
			display: flex;
			flex-direction: column;	
			min-width: 1200px;
			height: 700px;
		}
	}
}

.header__menu {
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 80px;
	margin: 60px 0 0 0;

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 550px;

		.nav__items {

			a {
				color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 16px;
				font-weight: 400;
				line-height: 18px;
				text-transform: uppercase;
				width: 100px;
				height: 35px;
				transition: background-color 0.4s linear;
			
				&:hover {
					background-color: #643a79;
				}
			}	
		}
	}
}

.header__textGreeting {
	margin: 165px 0 0 0;
	
	 p {
	 	color: #f7f3ea;
		font-family: "Titillium Web";
		font-size: 38px;
		font-weight: 700;
		line-height: 48.82px;
		text-align: center;
	} 
}

.header__button a {
	border-radius: 5px;
	margin: 100px auto 0;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: 400;
	line-height: 26.19px;
	text-transform: uppercase;
	letter-spacing: 0.27px;
	height: 70px;
	width: 300px;
	background-color: #eb7d4b;
	box-shadow: 0 4px rgb(200, 106, 64);
	transition: background-color 0.25s linear;
}

.header__button a:hover {
		background-color: #c86a40;
	}

//HEADER

//MAIN
main {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100vw;

	.title {

		hr {
		margin: 25px auto;
		height: 5px;
		width: 90px;
		text-align: center;
		}

		h2 {
		font-size: 40px;
		font-weight: 700;
		line-height: 29.91px;
		text-transform: uppercase;
		letter-spacing: 4px;
		text-align: center;
		}
	}

	.subtitle {
		text-align: center;
		font-size: 18px;
		line-height: 26px;
		letter-spacing: 0.36px;
	}
}

.ourServices{
	flex: 0 0 700px;
	background-color: #17c2a4;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	hr {
		background-color: rgba(0, 0, 0, 0.15);
	}
}

.ourServices__subtitle {
	width: 640px;
}
	

.ourServices__itemsContainer {
	width: 1100px;
	display: flex;
	justify-content: space-between;
	margin: 80px 0 0 0;
	height: 300px;


	.ourServices__items {
		display: flex;
		justify-content: space-between;;
		align-items: center;
		flex-direction: column;
		width: 200px;

		.ourServices__items-pic {
			flex: 0 0 55%;
		}

		.ourServices__items-title {
			font-size: 24px;
			font-weight: 700;
			line-height: 18px;
			text-transform: uppercase;
			letter-spacing: 0.48px;
		}

		.ourServices__items-subtitle {
			font-size: 16px;
			font-weight: 300;
			line-height: 24px;
			text-align: center;
			letter-spacing: 0.32px;
		}
	}
}

.ourTeam {
	flex: 0 0 900px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #E7F1F8;
	color: #3C4761;
	
}

.ourTeam__title {

	hr {
		background-color: rgba(189, 209, 223, 0.75);
	}
}

.ourTeam__subtitle {
	width: 675px;
}

.ourTeam__items {
	flex: 0 0 80%;
	display: flex;
	justify-content: space-between;
	width: 1100px;
	margin: 80px 0 0 0;
	height: 300px;

	.ourTeam__worker {
		padding: 5px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 210px;
		height: 510px;
		border-radius: 10px;
		transition: background-color  0.4s linear;

		.ourTeam__worker-photo{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 200px;
			width: 200px;
			background-color: #878787;
			border-radius: 50%;


			img {
				width: 200px;
				border-radius: 50%;
			}
		}

		.ourTeam__worker-name {
			font-size: 24px;
			font-weight: 700;
			letter-spacing: 0.48px;
			line-height: 18px;
			color: #27283D;
			text-align: center;

			p {
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 0.32px;
				line-height: 18px;
				color: #30bae7;
				margin: 10px 0 0 0;
				transition: color 0.4s linear;
			}
		}

		.ourTeam__worker-about {
			font-size: 16px;
			letter-spacing: 0.32px;
			line-height: 24px;
			color: #3c4761;
			text-align: center;
		}

		.ourTeam__worker-social {
			display: flex;
			justify-content: center;
			align-items: center;

			.link-social {
				margin: 0 5px;
				flex: 0 0 20%;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 40px;
				height: 40px;
				background-color: #BDD1DF;
				border-radius: 50%;
				transition: background-color 0.25s linear;
			}

			svg {
				width: 20px;
				height: 20px;
			}

			.link-social:hover {
				background-color: #5EAADF;
				border: 2px solid #BDD1DF;
			}
		}
	}

	.ourTeam__worker:hover {
		background-color: #5EAADF;
		border-radius: 10px;

		p {
			color: #cff;
		}
	}
}

.ourSkills {
	flex: 0 0 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	color: #3C4761;

	hr {
		background-color: #DFE8ED;
	}

	.ourSkills__subtitle {
		width: 600px;
	}
}

.ourSkills__items {
	margin: 75px 0 0 0;
	display: flex;
	justify-content: space-between;
	height: 250px;
	width: 1100px;

	.ourSkills__items-element {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		

		.ourSkills__persents img {				
			width: 200px;
		}

		.ourSkills__name {
			font-size: 24px;
			font-weight: 700;
			letter-spacing: 0.48px;
			line-height: 18px;
			text-align: center;
			text-transform: uppercase;	
		}
		
	}

}

.ourPortfolio {
	flex: 0 0 1430px;
	background-color: #FFDD99;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #3C4761;

	hr {
		background-color: #E5C37F;
	}

	.ourPortfolio__subtitle {
		width: 545px;
	}
}

.ourPortfolio__nav {
	margin: 40px 0 65px 0;
	width: 400px;
	display: flex;
	justify-content: space-between;

	.ourPortfolio__nav-items a {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #3C4761;
		background: rgba(0, 0, 0, 0.08);
		width: 90px;
		height: 40px;
		font-size: 18px;
		line-height: 19px;
		letter-spacing: 0.36px;
		border-radius: 5px;
		text-transform: uppercase;
		transition: background-color 0.4s linear;
	}

	.ourPortfolio__nav-items a:hover {
		background-color: #fff;
	}
}

.ourPortfolio__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1200px;
	height: 810px;
}

.ourPortfolio__items-container {
	width: 590px;
	height: 370px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	.ourPortfolio__items-img img {
		width: 580px;
	}

	.ourPortfolio__items-name {
		letter-spacing: 0.36px;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 19px;
		text-align: center;
	}
}

.ourPortfolio__more-btn {
	margin: 80px 0 0 0;
	border-radius: 5px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: 400;
	line-height: 26.19px;
	text-transform: uppercase;
	letter-spacing: 0.27px;
	height: 70px;
	width: 300px;
	background-color: #17c2a4;
	box-shadow: 0 4px #14a58c;
	transition: background-color 0.25s linear;
}

.ourPortfolio__more-btn:hover {
	background-color: #14a58c;
}

.reviews {
	flex: 0 0 900px;
	background-color: #D74680;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;

	hr {
		background-color: rgba( 0, 0, 0, 0.15);
	}

	.reviews__subtitle {
		margin: 0 0 -90px 0;
	}
}

.reviews__items {
	width: 1100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: space-between;


	.reviews__items-container {
		width: 475px;		
		display: flex;
		justify-content: space-between;
		margin: 140px 0 0 0;


		.reviews__items-photo {
			width: 100px;
			height: 100px;
			background-color: gray;
			border-radius: 50%;

			img {
			width: 100px;
			height: 100px;
			border-radius: 50%
			}
		}

		.reviews__items-rew {
			display: flex;
			flex-direction: column;
			width: 360px;

			.reviews__items-text {
				flex: 0 0 130px;
				font-style: italic;
				font-size: 21px;
				line-height: 31px;
				letter-spacing: 0.35px;
			}

			.reviews__items-username {
				letter-spacing: 0.48px;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 24px;
				line-height: 26px;
			}

			.reviews__items-userPos {
				color: #fd9;
				letter-spacing: 0.36px;
				font-size: 18px;
				line-height: 26px;
			}
		}
	}
}

.conection {
	flex: 0 0 820px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #3C5499;
	color: #fff;

	hr {
		background-color: #273A71;
	}
}

.connection__form {
	margin: 60px 0 0 0;
	display: flex;
	flex-wrap: wrap;
	width: 870px;
	justify-content: space-between;
	font-family: "Titillium Web";
	
	input {
		overflow: scroll;
		padding: 0 10px;
		width: 420px;
		height: 60px;
		background-color: #273A71;
		color: #fff;
		font-size: 24px;
    	letter-spacing: 0.32px;
    	line-height: 24px;
    	border-radius: 5px;

    	&::placeholder {
    		color: #fff;
    	}

	}

	textarea {
		margin: 25px 0 0 0;
		padding: 10px;
		width: 870px;
		height: 200px;
		background-color: #273A71;
		color: #fff;
		font-size: 24px;
    	letter-spacing: 0.32px;
    	line-height: 28px;
    	border-radius: 5px;

    	&::placeholder {
    		color: #fff;
    	}
	}

	.submit {
		margin: 80px auto 0;
		border-radius: 5px;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		font-weight: 400;
		line-height: 26.19px;
		text-transform: uppercase;
		letter-spacing: 0.27px;
		height: 70px;
		width: 300px;
		background-color: #30bae7;
		box-shadow: 0 4px #299ec5;
		transition: background-color 0.25s linear;
	}

	.submit:hover {
		background-color: #299ec5;
	}

}

footer {
	padding: 45px 0 0 0;
	height: 115px;
	background-color: #344b8e;

	.footer__container {
		margin: 0 auto;
		width: 1000px;
		display: flex;
		justify-content: space-between;

		.footer__social a{
			text-align: center;
			color: #fff;
			letter-spacing: 0.48px;
			font-weight: 600;
			font-size: 24px;
			line-height: 30px;
			transition: color 0.25s linear;

			&:hover {
				color: #30BAE7;
			}
		}
	}
}